@{
    Layout = "_BaseLayout";
}

<main style="flex: 1 0 auto; margin-top: 76px; margin-bottom: 76px;">
    <div class="container-fluid px-4 content-wrapper pb-5">
        @RenderBody()
    </div>
</main>
